/* Viz framework styles */
body {
    margin: 0;
    overflow: hidden;
    color: orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.title {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
}
.panel {
    position: absolute;
    text-align: center;
}
#rotate {
    bottom: 15%;
    right: 1%;
    width: 20%;
}
#rotate button {
    width: 45%;
}
#rotate img {
    width: 150%;
}
.copyright {
    position: absolute;
    bottom: 1%;
    left: 1%;
    width: 100%;
}
#info {
    bottom: 1%;
    right: 1%;
    width: 10%;
}
#info img {
    width: 100%;
}

/* Larger screens */
@media (min-width: 1200px) {
    #rotate {
        width: 7.5%;
    }
    #rotate img {
        width: 100%;
    }
    #info {
        width: 4%;
    }
}
